@import "../../ui-kit.scss";

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: $black-color;

  p {
    color: $white-color;
  }

  a {
    color: $contrast-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
