$black-color: #2b2024;
$white-color: #fbf9fa;
$main-color: #8f002c;
$contrast-color: #fd0054;
$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow-active: rgba(100, 100, 111, 0.9) 0px 7px 29px 0px;
$transition: all 0.15s ease-in;
